.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.botones {
	width: 400px;
	display: inline-block;
}

#nEncuesta{
	float: right;
	display: inline-block;
}

#mEncuesta{
	float: left;
	display: inline-block;
}

#login_form{
	float: right;
	margin-bottom: 15px;
	padding-top: 10px;
}

#errors{
	float: right;
	margin-bottom: 15px;
}

#session a, #session p{
	display: inline;
	float: right;
	margin-left: 10px;
}

#session{
margin-bottom: 15px;
}