<h1>Bienvenido a Surveys!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<% if @surveys %>
	<% @surveys.each do  |s|%>
		<h3><%= s.name %></h3><br>
	<% end %>
<% end %>

<div class="botones">
<form method="get" action="/new_survey" >
	<button id="nEncuesta" type="submit">Nueva encuesta</button>
</form>
<br><br>
<form method="get" action="/show_survey" >
	<button id="mEncuesta" type="submit">Mis encuestas</button>
</form>
</div>