<h1>Crea una encuesta</h1>
<form action="/create_survey" method="post">
  Título: <input type="text" name="survey_title"><br><br>
  Pregunta: <input type="text" name="question"><br><br>
  Opción 1: <input type="text" name="option_1"><br><br>
  Opción 2: <input type="text" name="option_2"><br><br>
  Opción 3: <input type="text" name="option_3"><br><br>
  <input type="submit" value="Crear encuesta">
</form>