<h1><%= @survey.name%></h1>
<h3>Author: <%= @survey.author.name %></h3>


<%@survey.questions.each do |question|%>
	<h4>Question: <%= question.question %></h4>
	<ol>
		<%question.choices.each do |choice|%>
			<li><%=choice.choice%></li>
		<%end%>
	</ol>
<% end %>
