<h1><%= @user.name%></h1>
<a href="/users/<%=@user.id%>/participations">Participations</a>
<form action="/users/<%=@user.id%>/delete" method="post">
	<input type="submit" name="delete" value="Delete">
</form>
<br>
<a href="/users/<%=@user.id%>/edit">Edit</a>
<a href="/logout">Log Out</a>

<div class="botones">
<form method="get" action="/new_survey" >
	<button id="nEncuesta" type="submit">Nueva encuesta</button>
</form>
<br><br>
<form method="get" action="/show_survey" >
	<button id="mEncuesta" type="submit">Mis encuestas</button>
</form>
</div>